<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box-body">
                <div class="form-group">
                    <label>Identificacion a buscar</label>
                    <div class="input-group">
                        <input class="form-control" [(ngModel)]="tercero.numIdentificacion" placeholder="identificacion">
                        <button class="btn btn-success" (click)="buscarTercero()">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
